@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -mox-box-sizing: border-box;
  -web-kit: border-box;
  font-family: "Montserrat", sans-serif !important;
}

/* NOSOTROS */
.contenedor-nosotros-main {
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;
  padding: 10px;
  /*-webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);*/
  padding: 20px;
}

.contenedor-nosotros {
  display: flex;
  column-gap: 20px;
}

.contenedor-nosotros img.imagen {
  width: 400px;
  max-height: 400px;
}

.contenedor-nosotros .informacion .titulo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.titulo span {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.titulo span:nth-child(1) {
  font-size: 26px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}
.titulo span:nth-child(2) {
  font-size: 40px;
}
.contenedor-nosotros .informacion p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  .contenedor-nosotros {
    flex-direction: column;
  }
  .contenedor-nosotros img.imagen {
    width: 100%;
    border: 1px solid;
  }
}
/*  FIN NOSOTROS*/

/* PERSONAL */
.contenedor-personal {
  background-color: #efeac4;
}
.contenedor-personal h1 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 800;
  margin: 30px 0;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 2px 1px 4px black;
}
.contenedor-personal-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 30px;    
}
.personal {
  margin: 20px 40px;
}
.personal img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}
.personal .nombre,
.cargo {
  margin: 20px 0;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  color: #50504d;
}
/* FIN PERSONAL */



/* FOOTER */
footer {
  background: rgb(22, 22, 22);
  max-width: 100%;
  height: auto;
}
.contenido-footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 15px;
}

.contenido-footer .logo {
  height: 80px;
  width: auto;
  margin: auto;
}
@media (max-width: 940px) {
  .contenido-footer .logo {
    width: auto;
    margin: auto;
    margin-bottom: 20px;
  }
}

.contenido-footer h2 {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

.mapa-sitio {
  position: relative;
}
.mapa-sitio h2 {
  position: relative;
  left: 28%;
  width: 45%;
  height: auto;
  font-weight: 700;
}

.titulo-mapa :hover {
  background: #fff;
  color: #000;
}

.mapa-sitio .lista-mapa-sitio {
  width: 35%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.mapa-sitio .lista-mapa-sitio a {
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px;
  transition: all ease-in-out 0.2s;
}
.mapa-sitio .lista-mapa-sitio a:hover {
  background: #fff;
  color: #000;
  transform: scale(1.1);
}
@media (max-width: 1220px) {
  .mapa-sitio .lista-mapa-sitio {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
}
@media (max-width: 1060px) {
  .mapa-sitio .lista-mapa-sitio {
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
}
@media (max-width: 940px) {
  .contenido-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px 15px;
  }
  .mapa-sitio .lista-mapa-sitio {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.servicios {
  position: relative;
}
.servicios h2 {
  font-weight: 800;
}
.servicios .lista-servicios {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.servicios .lista-servicios li {
  color: #fff;
  list-style: none;
  margin: 10px 0;
  text-transform: capitalize;
  font-weight: 600;
}
@media (max-width: 940px) {
  .servicios .lista-servicios {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.mapa-sitio::before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 240px;
  background: #fff;
}
.servicios::before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 240px;
  background: #fff;
}
@media (max-width: 940px) {
  .mapa-sitio::before {
    display: none;
  }
  .servicios::before {
    display: none;
  }
}
/* FIN FOOTER*/
