h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.25rem;
  font-weight: bold;
}
a {
  text-decoration: none;
}

.contenedor-reserva {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1140px) {
  .contenedor-reserva {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 670px) {
  .contenedor-reserva {
    grid-template-columns: 1fr;
  }
}

.contenedor-reserva .reserva {
  border-radius: 5px;
  border: 1px solid #000;
  margin: 1.8rem 1.25rem;
  padding: 1.25rem;
  background-color: rgb(255, 255, 255);
}

.contenedor-reserva .reserva p span {
  color: #000;
  font-size: 1.25rem;
  font-weight: bold;
}
.reserva p {
  color: #000;
}
