@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

/*body {
  background-image: url("images/background_one.png");
  position: relative;
}
body::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -11;
}*/

.contenedor-form-reserva {
  max-width: 1200px;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  /*background: #fdfdd9;*/
}
.contenedor-form-reserva .formulario h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
}
.contenedor-form-reserva .formulario {
  margin: 0 auto;
  -webkit-box-shadow: -1px -1px 15px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 15px 4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -1px 15px 4px rgba(0, 0, 0, 0.75);
  padding: 30px;
  border-radius: 10px;
  /*background: #fff;*/
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 50%,
    rgba(251, 251, 251, 1) 100%
  );
}
.contenedor-form-reserva .formulario {
  display: flex;
  flex-direction: column;
}
.contenedor-form-reserva .formulario input,
textarea {
  padding: 10px 5px;
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
}
.contenedor-form-reserva input[type="text"] {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid#c4c4c4;
  transition: all 0.5s ease-in-out;
  color: #000;
}

.contenedor-form-reserva input[type="text"]:focus {
  border-bottom: 1.7px solid#2a2a2a;
  transform: scale(0.97);
}
.contenedor-form-reserva input[type="email"] {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid#c4c4c4;
  transition: all 0.5s ease-in-out;
  color: #000;
}

.contenedor-form-reserva input[type="email"]:focus {
  border-bottom: 1.7px solid#2a2a2a;
  transform: scale(0.97);
}
.contenedor-form-reserva input[type="tel"] {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid#c4c4c4;
  transition: all 0.5s ease-in-out;
  color: #000;
}
.contenedor-form-reserva input[type="tel"]:focus {
  border-bottom: 1.7px solid#2a2a2a;
  transform: scale(0.97);
}
.contenedor-form-reserva input[type="number"] {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid#c4c4c4;
  transition: all 0.5s ease-in-out;
  color: #000;
}
.contenedor-form-reserva input[type="number"]:focus {
  border-bottom: 1.7px solid#2a2a2a;
  transform: scale(0.97);
}

.contenedor-form-reserva select.servicios {
  padding: 10px;
  margin: 10px 0;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #c4c4c4;
  transition: all 0.5s ease-in-out;
  color: #000;
}
.contenedor-form-reserva select.servicios:focus {
  border-bottom: 1.7px solid#2a2a2a;
}

.contenedor-form-reserva .fecha-hora {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.contenedor-form-reserva .fecha-hora .fecha,
.hora {
  width: 200px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #c4c4c4;
  transition: all 0.5s ease-in-out;
}
.contenedor-form-reserva .fecha-hora .fecha:focus,
.hora:focus {
  border-bottom: 1.7px solid#2a2a2a;
  transform: scale(0.97);
}

.contenedor-form-reserva .indicacionesMensaje {
  border: none;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}
.contenedor-form-reserva .indicacionesMensaje:focus {
  border: 1.7px solid #2a2a2a;
}

.contenedor-form-reserva .btn-añadir {
  margin-top: 30px;
  margin-bottom: -10px;
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(43, 42, 42, 1) 72%,
    rgba(83, 83, 83, 1) 100%
  );
  cursor: pointer;
  color: #fff;
}

.contenedor-form-reserva .btn-añadir:hover {
  background: #000;
}
.contenedor-form-reserva .btn-añadir:active {
  transform: scale(0.97);
}

.contenedor-form-reserva .btn-mostrar-reserva {
  display: inline-block;
  width: 20%;
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #000;
}
.contenedor-form-reserva .btn-mostrar-reserva:hover {
  background: #c1c1c2;
  color: #000;
}
.contenedor-form-reserva .btn-mostrar-reserva:active {
  transform: scale(0.97);
}

/* MEDIA QUERIES*/
@media (max-width: 965px) {
  .contenedor-form-reserva {
    width: 70%;
  }
  .contenedor-form-reserva .btn-mostrar-reserva {
    width: 50%;
    margin-left: 25%;
  }
}
@media (max-width: 680px) {
  .contenedor-form-reserva {
    width: 80%;
  }
  .contenedor-form-reserva .btn-mostrar-reserva {
    width: 50%;
    margin-left: 25%;
  }
}
@media (max-width: 580px) {
  .contenedor-form-reserva {
    width: 90%;
  }
  .contenedor-form-reserva .btn-mostrar-reserva {
    width: 50%;
    margin-left: 25%;
  }
  .contenedor-form-reserva .fecha-hora {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .contenedor-form-reserva {
    width: 90%;
  }
}
@media (max-width: 515px) {
  .contenedor-form-reserva {
    padding: 40px 5px;
    width: 100%;
  }
  input::placeholder {
    font-size: 15px;
  }
}