.personal-admin {
    border: 1px solid;
    padding: 20px 50px;
    text-align: center;    
}
.cargo-admin {    
    color: #000;
}
.btn-agregar-personal {
    border: 1px solid;
    margin-bottom: 4rem;
}