.contenedor_productos button{
    background-color: rgb(22, 22, 22);
}

.contenedor_productos{    
    width: auto;
    height: auto;
    margin-bottom: 4%; 
}

.card-productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-columns: 520px auto; 
}

.imagen-productos{
    max-width: 500px;
}

.botones{        
    width: 200px;
    display: grid;    
    grid-template-columns: repeat(3, 1fr);       
}

.botones_detalles{
    width: 200px;
    display: grid;    
    grid-template-columns: repeat(1, 2fr);    
}

.contenedor_productos img{	
	padding: 10px;	
	box-shadow: 0 0 15px rgba(0,0,0,0.8);	
    margin-top: 20px;
	margin-bottom: 20px;
}

@media (max-width: 950px)
{
    .card{
        display: grid;
        grid-template-columns: 1fr;        
    }
}