.testimonios{  
    width: 100%; 
    height: auto;      
}

.cliente{   
    position: absolute;
    left: 15%;
    top: 22%;    
}

.text_testimonio{
    position: absolute;
    text-align: left;
    width: 50%;
    height: auto;
    right: 16%;
    top: 30%;
    font-size: 2vw;    
}