.contenedor-eventos{
    background-color: rgb(22, 22, 22);
    display: grid;
    grid-template-columns: repeat(3, 1fr);      
}

@media (max-width: 1080px) {
    .contenedor-eventos{
        grid-template-columns: 1fr;
    }
}