/* Sección de nosotros */
.nuestra_propuesta{
    position: relative;       
    width: 100%; 
    height: auto;
}

.nosotros{
    width: 100%; 
    height: auto;  
}

.nosotros h1{
    position: absolute;
    color: white;
    top: 12%;
    left: 20%;
    font-size: 5vw;
}

.nosotros p{
    position: absolute;
    color: white;
    text-align: center;
    width: 40%;
    height: auto;
    top: 32%;
    left: 29.5%;
    font-size: 1.8vw;
}

@media (max-width: 1080px) {
    .nosotros h1{        
        top: 8%;        
    }
    .nosotros p{
        top: 28%;
    }
}

@media (max-width: 500px) {
    .nosotros h1{        
        top: 2%;        
    }
    .nosotros p{
        top: 27%;
        width: 80%;
        left: 10.5%;
        font-size: 2.5vw;
    }
}