.contenedor_productos_cart button{
    background-color: rgb(22, 22, 22);
}

.contenedor_productos_cart{    
    width: 1200px;
    height: auto;
}

.card-productos_cart{
    display: grid;
    grid-template-columns: repeat(2, 1fr);     
}

.imagen-productos_cart{
    max-width: 500px;
}

.botones_cart{        
    width: 200px;
    display: grid;    
    grid-template-columns: repeat(3, 1fr);       
}

.botones_detalles_cart{
    width: 200px;
    display: grid;    
    grid-template-columns: repeat(1, 2fr);    
}

.contenedor_productos_cart img{	
	padding: 10px;	
	box-shadow: 0 0 15px rgba(0,0,0,0.8);	
    margin-top: 20px;
	margin-bottom: 20px;
}

@media (max-width: 1800px) {    
    .contenedor_productos_cart{
        width: auto;
        height: auto;
    }     
}

@media (max-width: 950px)
{
    .card{
        display: grid;
        grid-template-columns: 1fr;        
    }
}